
@mixin trans-3d($x, $y, $z) {
	transform: translate3d($x, $y, $z);
	-webkit-transform: translate3d($x, $y, $z);
	-ms-transform: translate3d($x, $y, $z);
	-o-transform: translate3d($x, $y, $z);
	-moz-transform: translate3d($x, $y, $z);
}
@mixin trans-form($st) {
	-ms-transform: $st;
	-o-transform: $st;
	-moz-transform: $st;
	-webkit-transform: $st;
	transform: $st;
}
@mixin trans-ition($st) {
	-o-transition: $st;
	-ms-transition: $st;
	-moz-transition: $st;
	-webkit-transition: $st;
	transition: $st;
}

@mixin show-line($num) {
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:$num;
}

@mixin linear {
	background-image: -moz-linear-gradient( 0deg, $hot 0%, $darken_hot 100%);
	background-image: -ms-linear-gradient( 0deg, $hot 0%, $darken_hot 100%);
	background-image: -webkit-linear-gradient( 0deg,$hot 0%, $darken_hot 100%);
}

@mixin after($c:#f2f2f2, $w:100%, $h:1px,$p:bottom){
	position: relative;
	&:after{
		content: "";
		position: absolute;
		width: $w;
		height: $h;
		background: $c;
		@if $p == left or $p == top {
			left: 0;
			top: 0;
		} @else if $p == right {
			right: 0;
			top: 0;
		} @else if $p == bottom {
			bottom: 0;
			left: 0;
		}
	}
}

@mixin poscenter(){
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
